@import "../node_modules/bootswatch/dist/litera/_variables.scss";

$secondary:     $pink !default;
:root {
  --bs-secondary: #e83e8c !important;
  --bs-secondary-rgb: 232, 62, 140 !important;
}
body {
  background-color: $black;
  .system-img {
    left: 3px;
    position: relative;
    top: -13px;
    z-index: -1;
  }
  .button-space {
    margin-bottom: 350px;
  }
  .flot-table {
    position: relative;
    top: -200px;
  }
}
