.contact-content {
  background-image: url('../../img/png/13.png');
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
    width: 50%;
    .data {
      display: flex;
      flex-direction: column;
      .img {
        width: 2rem;
      }
      .text {
        margin-bottom: 2rem;
        p {
          margin-bottom: 0.5rem;
          &:first-child {
            font-weight: 700;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  .form {
    background-image: url('../../img/png/14.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
    width: 50%;
  }
}