.about-container {
  align-items: center;
  background-image: url('../../img/png/4.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  .info{
    text-align: justify;
    padding: 0 6rem;
    width: 50%;
  }
  .img{
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 50%;
    img {
      position: absolute;
      right: -11rem;
      top: 11rem;
      width: 152%;
    }
  }
}