.container-header {
  background-image: url('../../img/png/3.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6rem 0 6rem 6rem;
    width: 50%;
    .button {
      width: 80%;
      button {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        svg {
          height: 2rem;
          position: absolute;
          right: 1.5rem;
          width: 2rem;
        }
      }
    }
  }
  .header-img {
    width: 50%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}