@import '../../App.scss';

.container-header {
  background-image: url('/img/png/3.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  display: flex;
  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6rem 0 6rem 5%;
    width: 50%;
    .button {
      width: 80%;
      button, input {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        svg {
          height: 2rem;
          position: absolute;
          right: 1.5rem;
          width: 2rem;
        }
      }
    }
  }
  .header-img {
    width: 50%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  @media (min-width: 280px) and (max-width: 667px) {
    background-position: 100% 100%;
    background-size: 200%;
    flex-direction: column;
    height: 100%;
    padding: unset;
    .header-info {
      background-image: url('/img/png/2.png');
      background-position: 22% 100%;
      background-repeat: no-repeat;
      background-size: 250%;
      height: 100%;
      justify-content: space-around;
      padding: 0 5%;
      width: 100%;
      .title {
        padding-top: 2rem;
        text-align: center;
        h1 {
          font-size: 3.7rem;
        }
        h4 {
          font-size: 1.5rem;
          text-shadow: 0 0 0.5rem $white;
          color: $black;
          margin-top: 2rem;
        }
      }
      .button {
        width: 100%;
        button {
          font-size: 1rem;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          width: 80%;
        }
      }
    }
    .header-img {
      display: none;
    }
  }
  @media (min-width: 668px) and (max-width: 1023px) {
    background-position: 100% 100%;
    background-size: 174%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    .header-info {
      background-image: url('/img/png/2.png');
      background-position: -260% 100%;
      background-repeat: no-repeat;
      background-size: 115%;
      height: 100%;
      width: 100%;
      h4 {
        text-shadow: 0 0 0.5rem $white;
        color: $black;
      }
    }
    .header-img {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    height: 100%;
    .header-info {
      padding: 6rem 0 6rem 5%;
    }
    .header-img {
      img {
        left: 28%;
        width: 136%;
      }
    }
  }
  @media (min-width: 1440px) {
    height: 100%;
    .header-info {
      padding: 6rem 0 6rem 10%;
    }
  }
  @media (min-width: 1920px) {
    height: 100%;
    .header-info {
      padding: 6rem 0 6rem 15%;
    }
    .header-img {
      img {
        left: 0;
        width: unset;
      }
    }
  }
}