.journey-content {
  background-image: url('/img/png/6.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  .title {
    align-items: center;
    background-image: url('/img/png/5.png');
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    padding: 0 2rem 0 6rem;
    width: 20%;
  }
  .lerning, .licenses {
    width: 30%;
    padding: 6rem 2rem;
    &:before {
      background-color: #af40c9;
      content: '';
      display: block;
      height: 1px;
      margin-bottom: 1rem;
      width: 100%;
    }
    ul {
      display: flex;
      flex-direction: column;
      height: 50vh;
      list-style: none;
      width: 100%;
      li {
        padding: 1rem  1rem 1rem 0;
      }
    }
  }
  .licenses {
    height: 50px;
    width: 50%;
    ul {
      flex-wrap: wrap;
      li {
        height: 3.7rem;
        width: 50%;
      }
    }
  }
  @media (min-width: 280px) and (max-width: 1023px) {
    background-size: 40rem;
    flex-direction: column;
    .title {
      background-size: 40rem;
      display: block;
      height: fit-content;
      padding: 5rem 1rem 0;
      width: 100%;
      h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-align: center;
        br {
          display: none;
        }
      }
    }
    .lerning, .licenses {
      height: fit-content;
      padding: 0 1rem;
      width: 100%;
      ul {
        height: fit-content;
        li {
          height: fit-content;
          padding: 1rem 0 0;
          width: 100%;
          &:last-child {
            padding:  1rem 0 1rem;
          }
        }
      }
      &:before {
        width: 75%;
      }
    }
    .lerning {
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 1800px) {
    .title {
      padding: 0 2rem 0 14rem;
      width: 35%;
    }
  }
}